/**************************************/
/************ GLOBAL STYLES ***********/
/**************************************/

/** Global styles and configuration **/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --black: #000;
    --white: #fff;
    --purple: #6475ed;
    --darkblue: #2b3143;
    --acquamarineblue: #01016b;
    --dayblue: #002CFF;
    --seablue: #0256ff;
    --blue: #345cfb;
    --oceanblue: #5c76f1;
    --skyblue: #2e77f9;
    --darkcyan: #2083fd;
    --cyan: #00b1ff;
    --navyblue: #73a6c9;
    --sunsetblue: #D9E3FE;
    --lightblue: #ecf5ff;
    --clearblue: #F4FCFF;
    --lightbrown: #7b7a7b;
    --bluegray: #657E98;
    --grayfromblue: #979ba8;
    --midgray: #999ea8;
    --lightgray: #d9d9d8;
    --logoshadow: rgba(0, 0, 0, 0.38);
    --cardshadow: rgba(0, 52, 255, 0.49);
    --menushadow: rgba(0, 0, 0, 0.75);
    --dropdownshadow: rgba(0, 0, 0, 0.2);
    --callusbuttonshadow: rgba(0, 0, 0, 0.29);
}

::selection {
    background-color: var(--cyan);
    color: var(--white);
}

/************* Mobile view ************/
body {
    overflow-x: hidden;
}

/*************** Web view *************/
/**Breakpoint for centering container */
@media screen and (min-width: 1081px) {
    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
