/**************************************/
/************ GLOBAL STYLES ***********/
/**************************************/

/* Global variables and configuration */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black: #000;
    --white: #fff;
    --purple: #6475ed;
    --blue: #005cff;
    --skyblue: #2e77f9;
    --lightblue: #ecf5ff;
    --cyan: #00b1ff;
    --lightgray: #d9d9d8;
    --logoshadow: rgba(0, 0, 0, 0.38);
}

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Montserrat", sans-serif; */
    font-family: 'Be Vietnam Pro', sans-serif;
}

/**************************************/
/*********** HEADER STYLES ************/
/**************************************/

/* Mobile view */
#header-container {
    display: flex;
    flex-direction: row;
    background-color: var(--purple);
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 104px;
}

#navbar-container {
    width: 268px;
}

#logo-container {
    position: absolute;
    top: 11px;
    left: 35px;
}

#logo-container img {
    height: 152px;
    -webkit-box-shadow: 1px 0px 0px 0px var(--logoshadow);
    -moz-box-shadow: 1px 0px 0px 0px var(--logoshadow);
    box-shadow: 1px 0px 0px 0px var(--logoshadow);
}

#navbar-menu ul {
    display: none;
}

#headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    order: 2;
    padding-right: 39px;
}

#headline p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

#headline p:nth-child(1) {
    font-size: 1.3em;
    font-weight: 700;
    color: var(--white);
}
#headline p:nth-child(2) {
    margin-left: 66px;
    font-size: .7em;
    font-weight: 500;
    color: var(--white);
}
#headline p:nth-child(3) {
    margin-left: 27px;
    font-size: .7em;
    font-weight: 500;
    color: var(--white);
}

#headline p:nth-child(3),
#headline p:nth-child(2) {
    vertical-align: middle;
    display: inline-block;
} 

.header-icon {
margin-right: 7px;
}

#call-us-button-container {
    display: none;
}

/* Hamburguer button */
#menuToggle {
    display: none;
}

.hamburguer-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 225px;
    width: 43px;
    height: 32px;
    cursor: pointer;
}

.hamburguer-icon div {
    width: 100%;
    height: 6px;
    background-color: var(--white);
    transition: all 0.3s ease;
    border-radius: 4px;
}

#menuToggle:checked + .hamburguer-icon div:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 14px;
}

#menuToggle:checked + .hamburguer-icon div:nth-child(2) {
    opacity: 0;
}

#menuToggle:checked + .hamburguer-icon div:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -14px;
}

/**************************************/
/************* MAIN STYLES ************/
/**************************************/

/**************************************/
/*********** FOOTER STYLES ************/
/**************************************/
