/**************************************/
/************ GLOBAL STYLES ***********/
/**************************************/

/** Global styles and configuration **/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --black: #000;
    --white: #fff;
    --purple: #6475ed;
    --blue: #345cfb;
    --seablue: #0256ff;
    --skyblue: #2e77f9;
    --lightblue: #ecf5ff;
    --darkblue: #2b3143;
    --cyan: #00b1ff;
    --lightgray: #d9d9d8;
    --midgray: #999ea8;
    --lightbrown: #7b7a7b;
    --logoshadow: rgba(0, 0, 0, 0.38);
    --cardshadow: rgba(0, 52, 255, 0.49);
}

::selection {
    background-color: var(--cyan);
    color: var(--white);
}

/************ Reset styles ************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Montserrat", sans-serif; */
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
}

/**************************************/
/*********** HEADER STYLES ************/
/**************************************/

/************* Mobile view ************/
#header-container {
    display: flex;
    flex-direction: row;
    background-color: var(--purple);
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 104px;
}

#navbar-container {
    width: 268px;
}

#logo-container {
    position: absolute;
    top: 11px;
    left: 35px;
    z-index: 1000;
}

#logo-container img {
    height: 152px;
    -webkit-box-shadow: 1px 0px 0px 0px var(--logoshadow);
    -moz-box-shadow: 1px 0px 0px 0px var(--logoshadow);
    box-shadow: 1px 0px 0px 0px var(--logoshadow);
}

#navbar-menu ul {
    display: none;
}

#headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    order: 2;
    padding-right: 39px;
}

#headline p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

#headline p:nth-child(1) {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--white);
}

#headline p:nth-child(2) {
    margin-left: 66px;
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--white);
}

#headline p:nth-child(3) {
    margin-left: 27px;
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--white);
}

#headline p:nth-child(3),
#headline p:nth-child(2) {
    vertical-align: middle;
    display: inline-block;
}

.header-icon {
    margin-right: 7px;
}

#call-us-button-container {
    display: none;
}

/********** Hamburguer button *********/
#menuToggle {
    display: none;
}

.hamburguer-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 225px;
    width: 43px;
    height: 32px;
    cursor: pointer;
}

.hamburguer-icon div {
    width: 100%;
    height: 6px;
    background-color: var(--white);
    transition: all 0.3s ease;
    border-radius: 4px;
}

#menuToggle:checked + .hamburguer-icon div:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 14px;
}

#menuToggle:checked + .hamburguer-icon div:nth-child(2) {
    opacity: 0;
}

#menuToggle:checked + .hamburguer-icon div:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -14px;
}

/**************************************/
/************* MAIN STYLES ************/
/**************************************/

/**************** Hero ****************/
.hero {
    display: flex;
    height: 562px;
    position: relative;
}

#hero-divisor {
    flex: 0 0 42.5%;
    background-image: url('/img/gray-bg.png');
    background-repeat: repeat-x;
    background-position: left top;
    background-size: 100% 100%;
}

#hero-image {
    flex: 0 0 57.5%;
    background: url('/img/hero-bg.jpg') no-repeat left center;
    background-size: cover;
}

#hero-content {
    position: absolute;
    top: 292px;
    left: 70px;
    transform: translate(0%, -50%);
    text-align: left;
    width: 517px;
    height: 561px;
    padding-top: 114px;
}

#hero-content h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.9rem;
    font-weight: 800;
    color: var(--blue);
    line-height: 3.1rem;
    margin-bottom: 46px;
}

#hero-content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.89rem;
    color: var(--lightbrown);
    margin-bottom: 67px;
}

#hero-content button {
    border: none;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    background-color: var(--cyan);
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 900;
    cursor: pointer;
}

/*************** Slider ***************/
.slider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 460px;
    align-items: center;
    justify-content: center;
    gap: 52px;
    padding-top: 65px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 302px;
    height: 306px;
    border-radius: 8px;
    box-shadow: 0px 9px 24px -4px var(--cardshadow);
    -webkit-box-shadow: 0px 9px 24px -4px var(--cardshadow);
    -moz-box-shadow: 0px 9px 24px -4px var(--cardshadow);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 56px;
}

.card .image-container {
    width: 90px;
    height: 81px;
    margin-bottom: 27px;
}

.card .image-container img {
    width: auto;
    height: 100%;
}

.card .title-container h2 {
    font-size: 2rem;
    text-align: center;
    line-height: 2.75rem;
    font-weight: 600;
    letter-spacing: -1px;
}

/******* Plan descriptio section ******/
.simple-plan-container {
    margin-top: 50px;
    margin-left: 100px;
}

.simple-plan-container .plan-image-container {
    width: 595px;
    height: auto;
}

.simple-plan-container .plan-image-container img{
    width: 100%;
    height: auto;
}

.simple-plan-container .plan-description-container {
    display: flex;
    flex-direction: column;
    margin-top: 57px;
    margin-left: 280px;
}

.simple-plan-container .plan-description-container h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.8rem;
    font-weight: 750;
    color: var(--darkblue);
}

.simple-plan-container .plan-description-container p {
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.9rem;
    color: var(--midgray);
    margin-top: 52px;
    max-width: 570px;
}

.simple-plan-container .plan-description-container button{
    border: 1px solid #4583FF;
    border-radius: 25px;
    width: 283px;
    height: 45px;
    background-color: var(--seablue);
    color: var(--white);
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    margin-top: 70px;
    display: block;
}
.simple-plan-container .plan-advantages {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 57px;
}

.simple-plan-container .plan-advantages .props-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: 240px;
}

.simple-plan-container .plan-advantages .props-container img{

}

.simple-plan-container .plan-advantages .props-container span{
    font-family: "Inter", sans-serif;
    font-size: 1.25em;
    font-weight: 750;
    line-height: 1.8rem;
}
/**************************************/
/*********** FOOTER STYLES ************/
/**************************************/

/**************************************/
/*********** MEDIA QUERIES ************/
/**************************************/

/********** Breakpoint to hide ********/
/** Want to Connect with us? message **/
/** when screen width is below 1036px */
@media (max-width: 1036px) {
    #headline p:nth-child(1) {
        display: none;
    }
}

/**************************************/
/** MEDIA QUERIES FOR HOVER DEVICES ***/
/**************************************/

@media (hover: hover) {
    #hero-content button:hover {
        background-color: #345cfb;
    }
}
