/**************************************/
/*********** FOOTER STYLES ************/
/**************************************/

/************* Mobile view ************/

/************ Right panel **************/
#footer-right-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 136px;
    right: 0;
    width: 983px;
    height: 405px;
    background-color: var(--white);
    box-shadow: 0px 9px 24px -4px var(--cardshadow);
    -webkit-box-shadow: 0px 9px 24px -4px var(--cardshadow);
    -moz-box-shadow: 0px 9px 24px -4px var(--cardshadow);
    padding-top: 26px;
}

#footer-right-container #company {
    width: 393px;
    margin-left: 139px;
}

#footer-right-container #company h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.1rem;
    font-weight: 600;
    color: var(--acquamarineblue);
}

#footer-right-container #company .company-links {
    margin-top: 25px;
}

#footer-right-container #company .company-links div {
    margin-top: 13px;
}

#footer-right-container #company .company-links div a {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: var(--lightbrown);
    text-decoration: none;
}

#footer-right-container #get-in-touch {
    width: 380px;
}

#footer-right-container #get-in-touch h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.1rem;
    font-weight: 600;
    color: var(--acquamarineblue);
}

#footer-right-container #get-in-touch .link-container {
    display: flex;
    flex-direction: row;
}

#footer-right-container #get-in-touch .link-container div {
    display: flex;
    align-items: center;
}

#footer-right-container #get-in-touch .link-container div img {
    margin-right: 15px;
}

#footer-right-container #get-in-touch div a {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: var(--lightbrown);
    text-decoration: none;
}

/*************** Web view *************/
@media screen and (min-width: 1081px) {
    #footer-right-container {
        top: -262px;
        left: 49.5%;
        width: 703px;
        height: 296px;
        padding-top: 20px;
        box-shadow: 10px -1px 16px -9px var(--cardshadow);
        -webkit-box-shadow: 10px -1px 16px -9px var(--cardshadow);
        -moz-box-shadow: 10px -1px 16px -9px var(--cardshadow);
    }

    #footer-right-container #company {
        width: 293px;
        margin-left: 82px;
    }

    #footer-right-container #company h4 {
        font-size: 1.5rem;
    }

    #footer-right-container #company .company-links {
        margin-top: 21px;
    }

    #footer-right-container #company .company-links div a {
        font-size: 1.11rem;
        line-height: 1.55rem;
    }

    #footer-right-container #get-in-touch {
        width: 290px;
    }

    #footer-right-container #get-in-touch h4 {
        font-size: 1.5rem;
        margin-bottom: 19px;
    }

    #footer-right-container #get-in-touch .link-container div img {
        margin-right: 7px;
        transform: scale(0.8);
    }

    #footer-right-container #get-in-touch div a {
        font-size: 1.11rem;
    }
}

/*************** Hovers ***************/
@media (hover: hover) {
    #footer-right-container #company .company-links div a:hover {
        color: var(--acquamarineblue);
    }

    #footer-right-container #get-in-touch div a:hover {
        color: var(--acquamarineblue);
    }
}

/********** Extra Breakpoints *********/
@media screen and (max-width: 940px) {
    #footer-right-container {
        width: 100%;
        align-items: center;
    }

    #footer-right-container #company {
        margin-left: 30px;
    }
}

@media screen and (min-width: 1081px) and (max-width: 1300px) {
    #footer-right-container #company {
        margin-left: 10px;
        width: 193px;
    }

    #footer-right-container {
        width: 603px;
    }
} 

@media screen and (max-width: 825px) {
    #footer-right-container {
        flex-direction: column;
        top: -820px;
    }

    #footer-right-container #company {
        max-width: 393px;
        margin-left: 80px;
    }

    #footer-right-container #get-in-touch {
        margin-top: 60px;
        margin-left: 60px;
    }

    #footer-right-container {
        box-shadow: unset;
        -webkit-box-shadow: unset;
        -moz-box-shadow: unset;
    }
}