/**************************************/
/*********** HEADER STYLES ************/
/**************************************/

/************* Mobile view ************/
/********** Hamburguer button *********/
#menuToggle {
    display: none;
}

.hamburguer-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 43px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    top: 41px;
    left: 230px;
}

.hamburguer-icon div {
    width: 100%;
    height: 6px;
    background-color: var(--white);
    transition: all 0.3s ease;
    border-radius: 4px;
}

#menuToggle:checked + .hamburguer-icon div:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 14px;
}

#menuToggle:checked + .hamburguer-icon div:nth-child(2) {
    opacity: 0;
}

#menuToggle:checked + .hamburguer-icon div:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -14px;
}

/*************** Web view *************/
@media screen and (min-width: 1081px) {
    .hamburguer-icon {
        display: none;
    }
}