/**************************************/
/*********** HEADER STYLES ************/
/**************************************/

/************* Mobile view ************/

/**************** Navbar **************/

#navbar-container {
    width: 268px;
}

#logo-container {
    position: absolute;
    top: 11px;
    left: 35px;
    z-index: 1000;
}

#logo-container img {
    height: 152px;
    -webkit-box-shadow: 1px 0px 0px 0px var(--logoshadow);
    -moz-box-shadow: 1px 0px 0px 0px var(--logoshadow);
    box-shadow: 1px 0px 0px 0px var(--logoshadow);
}

#navbar-menu {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--purple);
    transition: left 0.3s ease;
    z-index: 1000;
}

#menuToggle:checked ~ #navbar-menu {
    left: 0;
}

#navbar-menu ul {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    list-style: none;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#navbar-menu ul li {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: center;
}

#navbar-menu ul a {
    text-decoration: none;
    color: var(--white);
}

#navbar-menu ul li .dropdown-content {
    display: block;
    flex-direction: column;
}

#menuToggle:checked ~ #navbar-menu {
    left: 0;
}

#headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    order: 2;
    padding-right: 39px;
}

#headline p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

#headline p:nth-child(1) {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--white);
}

#headline p:nth-child(2),
#headline p:nth-child(3) {
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--white);
}

#headline p:nth-child(2) {
    margin-left: 66px;
}

#headline p:nth-child(3) {
    margin-left: 27px;
}

#headline p:nth-child(3),
#headline p:nth-child(2) {
    vertical-align: middle;
    display: inline-block;
}

.header-icon {
    margin-right: 7px;
}

#call-us-button-container {
    display: none;
}

/*************** Web view *************/
@media screen and (min-width: 1081px) {
    #navbar-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-top: solid 6px var(--clearblue);
        border-bottom: solid 6px var(--clearblue);
    }

    #logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
        height: 100%;
    }

    #logo-container a img {
        width: 62px;
        height: 62px;
        border-radius: 12px;
        border: 1px solid var(--acquamarineblue);
        margin-top: 4px;
        margin-bottom: 3px;
    }

    /************* Navbar menu ************/
    /* Unset styles */

    #navbar-menu,
    #navbar-menu ul {
        display: flex;
        color: unset;
        background-color: unset;
        margin-left: unset;
        margin-top: unset;
        width: unset;
        padding: unset;
        font-family: unset;
        font-size: unset;
        list-style: none;
        -webkit-box-shadow: unset;
        -moz-box-shadow: unset;
        box-shadow: unset;
        position: unset;
        top: unset;
        left: unset;
        width: unset;
        height: unset;
        background-color: var(--white);
        transition: unset;
        z-index: unset;
    }

    #navbar-menu ul {
        flex-direction: row;
    }

    #navbar-menu ul li {
        display: flex;
        flex-direction: row;
        list-style: none;
        font-family: 'Poppins', sans-serif;
        font-size: 0.8rem;
        font-weight: 600;
    }

    #navbar-menu ul li a {
        text-decoration: none;
        color: var(--black);
    }

    #navbar-menu ul li::after {
        content: '|';
        color: #000;
        margin-right: 10px;
        margin-left: 10px;
    }

    #navbar-menu ul li:last-child::after {
        content: '';
    }

    #navbar-menu ul li a.active {
        text-decoration: underline;
        color: var(--bluegray);
        text-underline-offset: 5px;
    }

    #navbar-menu ul li .dropdown-content {
        display: none;
    }

    /************** Dropdown **************/
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--white);
        box-shadow: 0px 8px 16px var(--dropdownshadow);
        padding: 10px 0;
        z-index: 100;
        min-width: 160px;
        top: 90px;
    }

    .dropdown-content a {
        color: black;
        padding: 8px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: var(--white);
    }

    #navbar-menu ul li:hover .dropdown-content {
        display: block;
    }

    .dropdown-toggle::after {
        content: ' ▼';
        font-size: 12px;
    }

    #call-us-button-container {
        display: block;
    }

    #call-us-button-container button {
        color: var(--white);
        background-color: var(--dayblue);
        border: 1px solid var(--oceanblue);
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        width: 136px;
        height: 46px;
        border-radius: 25px;
        cursor: pointer;
        -webkit-box-shadow: 6px 10px 27px 3px var(--callusbuttonshadow);
        -moz-box-shadow: 6px 10px 27px 3px var(--callusbuttonshadow);
        box-shadow: 6px 10px 27px 3px var(--callusbuttonshadow);
    }

    /************** Headline **************/
    #headline {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 60px;
        padding-right: 0;
        background-color: var(--skyblue);
        width: 100%;
        order: unset;
        left: unset;
    }

    #headline p {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }

    #headline p:nth-child(1) {
        font-size: 1.25rem;
        font-weight: 700;
        color: var(--white);
        flex-grow: 0.67;
    }

    #headline p:nth-child(2),
    #headline p:nth-child(3) {
        margin-left: 66px;
        font-size: 0.95rem;
        font-weight: 500;
        color: var(--white);
        vertical-align: middle;
        display: inline-block;
    }

    .header-icon {
        margin-right: 7px;
    }
}

/*************** Hovers ***************/
@media (hover: hover) {
    #navbar-menu ul li a:hover {
        color: var(--bluegray);
    }

    #call-us-button-container button:hover {
        background-color: var(--skyblue);
    }
}

/********** Extra Breakpoints *********/
@media screen and (max-width: 1425px) {
    #navbar-container {
        justify-content: space-around;
    }
}

@media screen and (max-width: 1055px) {
    #headline p:nth-child(1) {
        display: none;
    }
}

