
/**************************************/
/************* MAIN STYLES ************/
/**************************************/

/************* Mobile view ************/
main {
    overflow: hidden;
}

/********** No mobile styles **********/

/*************** Web view *************/
@media screen and (min-width: 1081px) {
    #main-container {
        max-width: 1600px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main-container section {
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0;
    }
}