/**************************************/
/************* MAIN STYLES ************/
/**************************************/

/************* Mobile view ************/

/******* Plan description section ******/
.simple-plan-container {
    margin-top: 53px;
    margin-left: 100px;
}

.simple-plan-container .plan-image-container {
    width: 595px;
    height: auto;
}

.simple-plan-container .plan-image-container img {
    width: 100%;
    height: auto;
}

.simple-plan-container .plan-description-container {
    display: flex;
    flex-direction: column;
    margin-top: 57px;
    margin-left: 280px;
    margin-right: 10px;
}

.simple-plan-container .plan-description-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.8rem;
    font-weight: 750;
    color: var(--darkblue);
    max-width: unset;
}

.simple-plan-container .plan-description-container p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.9rem;
    color: var(--midgray);
    margin-top: 52px;
    max-width: unset;
}

.simple-plan-container .plan-description-container button {
    font-family: 'Poppins', sans-serif;
    font-weight: 450;
    border: 1px solid #4583ff;
    border-radius: 25px;
    width: 283px;
    height: 45px;
    background-color: var(--seablue);
    color: var(--white);
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    margin-top: 70px;
    display: block;
}

.simple-plan-container .plan-advantages {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 57px;
}

.simple-plan-container .plan-advantages .props-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: 240px;
}

.simple-plan-container .plan-advantages .props-container span {
    font-family: 'Inter', sans-serif;
    font-size: 1.25em;
    font-weight: 750;
    line-height: 1.8rem;
}

/*************** Web view *************/
@media screen and (min-width: 1081px) {
    .simple-plan-container {
        margin-top: 144px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .simple-plan-container .plan-image-container {
        width: 540px;
    }

    .simple-plan-container .plan-description-container {
        display: flex;
        flex-direction: column;
        margin-top: 39px;
        margin-left: 75px;
        margin-right: 20px;
    }

    .simple-plan-container .plan-description-container h2 {
        font-size: 2.5rem;
        max-width: 520px;
    }

    .simple-plan-container .plan-description-container p {
        font-size: 1rem;
        line-height: 1.75rem;
        margin-top: 48px;
        max-width: 520px;
    }

    .simple-plan-container .plan-description-container button {
        width: 260px;
        height: 41px;
        font-size: 0.9rem;
        margin-top: 64px;
    }

    .simple-plan-container .plan-advantages {
        gap: 50px;
        margin-top: 45px;
    }

    .simple-plan-container .plan-advantages .props-container span {
        line-height: 1.59rem;
    }
}

/*************** Hovers ***************/
@media (hover: hover) {
    .simple-plan-container .plan-description-container button:hover {
        background-color: var(--skyblue);
    }
}

/********** Extra Breakpoints *********/
@media screen and (max-width: 850px) {
    .simple-plan-container .plan-description-container {
        margin-left: 10px;
    }
    .simple-plan-container .plan-image-container {
        width: 100%;
        padding-right: 20px;
    }
}

@media (min-width: 1080px) and (max-width: 1250px) {
    .simple-plan-container .plan-description-container h2,
    .simple-plan-container .plan-description-container p {
        max-width: 420px;
    }

    .simple-plan-container .plan-advantages {
        gap: 20px;
    }
}