/**************************************/
/************* MAIN STYLES ************/
/**************************************/

/************* Mobile view ************/

/***** Protecting people section ******/
.protecting-container {
    margin-top: 55px;
    margin-left: 102px;
}

.protecting-container .protecting-image-container {
    width: 593px;
    height: auto;
}

.protecting-container .protecting-image-container img {
    width: 100%;
    height: auto;
}

.protecting-container .protecting-description-container {
    display: flex;
    flex-direction: column;
    margin-top: 57px;
    margin-left: 274px;
    margin-right: 10px;
}

.protecting-container .protecting-description-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.64rem;
    font-weight: 750;
    color: var(--darkblue);
    max-width: unset;
}

.protecting-container .protecting-description-container p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.9rem;
    color: var(--midgray);
    margin-top: 52px;
    max-width: unset;
}

.protecting-container .protecting-description-container button {
    font-family: 'Poppins', sans-serif;
    font-weight: 450;
    border: 1px solid #4583ff;
    border-radius: 25px;
    width: 283px;
    height: 45px;
    background-color: var(--seablue);
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
    margin-top: 40px;
    display: block;
}

/*************** Web view *************/
@media screen and (min-width: 1081px) {
    .protecting-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 58px;
    }
    
    .protecting-container .protecting-description-container {
        margin-top: 39px;
        margin-left: 81px;
        max-width: 570px;
    }

    .protecting-container .protecting-image-container {
        width: 529px;
    }

    .protecting-container .protecting-description-container h2 {
        font-size: 2.5rem;
        line-height: 3.1rem;
        max-width: 530px;
    }

    .protecting-container .protecting-description-container p {
        font-size: 1rem;
        line-height: 1.75rem;
        margin-top: 38px;
        max-width: 530px;
    }

    .protecting-container .protecting-description-container button {
        width: 260px;
        height: 41px;
        background-color: var(--seablue);
        color: var(--white);
        font-size: .9rem;
        margin-top: 36px;
    }
}

/*************** Hovers ***************/
@media (hover: hover) {
    .protecting-container .protecting-description-container button:hover {
        background-color: var(--skyblue);
    }
}

/********** Extra Breakpoints *********/
@media screen and (max-width: 850px) {
    .protecting-container .protecting-description-container {
        margin-left: 10px;
    }

    .protecting-container .protecting-image-container {
        width: 100%;
        padding-right: 20px;
    }
}

@media (min-width: 1080px) and (max-width: 1250px) {
    .protecting-container .protecting-description-container h2,
    .protecting-container .protecting-description-container p {
        max-width: 380px;
    }
}